{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}Guzdy_Test{% endblock %}

{% block content %}

    {% if tag %}
        <h4>标签分类结果： "{{ tag.name }}"</h4>
    {% endif %}

    {% if year %}
        <h4>分档结果 "{{ year }}年{{ month }}月"</h4>
    {% endif %}
{% for post in posts %}
    <article class="post post-1">
        <header class="entry-header">
            <h1 class="entry-title">
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </h1>
            <div class="entry-meta">
                <span class="post-category">
                    <a href="#">
                        <i class="ion-android-folder-open"></i>
                        {{ post.category.name }}
                    </a>
                </span>
                <span class="post-date">
                    <a href="#">
                        <i class="ion-android-calendar"></i>
                        <time class="entry-date" datetime="{{ post.publish}}">{{ post.publish }}</time>
                    </a>
                </span>
                <span class="comments-link">
                    <a href="#">
                        <i class="ion-ios-chatboxes-outline"></i>
                        {{ post.comments.count }}
                    </a>
                </span>
                <span class="views-count">
                    <a href="#">
                        <i class="ion-ios-eye-outline"></i>
                        {{ post.views }}
                    </a>
                </span>
            </div>
        </header>
        <div class="entry-content clearfix">
            <p>{{ post.body|markdown|truncatewords_html:30 }}</p>
            <div class="read-more cl-effect-14">
                <a href="{{ post.get_absolute_url }}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
            </div>
        </div>
    </article>
{% empty %}
    <div class="no-post">暂时还没有发布的文章！</div>
{% endfor %}

    {% include "blog/pagination.html" with page=posts %}
{% endblock %}
